header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('your-image.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
}

.hero button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #333;
    border: none;
    cursor: pointer;
}

.intro {
    text-align: center;
    padding: 2rem;
}

.intro button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.about, .gallery, .contact {
    padding: 2rem;
    text-align: center;
}

.gallery img {
    max-width: 100%; /* Ограничивает ширину изображения */
    height: auto; /* Сохраняет пропорции */
    margin: 10px; /* Добавляет отступы между изображениями */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}